* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
    
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-content: center;
}

.justify-center {
    justify-content: between;
}


.page-header_list {
    display: inline-block;
}

.white {
    color: white;
}

.page-header_nav {
    position: fixed;
    width: 100%;
    max-height: 70px;
    background-color: #FF6800;
}

.logo {
    height: 20px;
    width: 100px;
}

.btn {
    height: 30px;
    display: inline-block;
    padding: 5px;
}

.article {
    margin-top: 100px;
    position: relative;
}

.article_image {
    position: relative;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
}

.discount {
    display: inline-block;
    position: absolute;
    bottom: 80px;
    background-color: red;
    color: white;
    width: 50px;
    text-align: center;
    padding: 5px;
}

.green {
    display: inline-block;
    position: absolute;
    bottom: 80px;
    background-color: green;
    color: white;
    margin-left: 15px;
    padding: 5px;
}

.hover-image {
    position: absolute;
    left: 0;
    display: none;
}

.article_image:hover {
    content: url(../img/1b.webp);
}

.details {
    font-size: 20px;
}

.discounted-price {
    color: red;
}

.price {
    text-decoration-line: line-through;
}

/* debug */

.debug .page-header_nav {
    min-height: 70px;
}

.debug .container {
    
    min-height: 50px;
}

.debug .row {
    
    min-height: 70px;
}
