* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
    
}

ul, ol {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-content: center;
}

.justify-center {
    justify-content: center;
}

.page-header_list {
    display: inline-block;
}

.white {
    color: white;
}

.page-header_nav {
    position: fixed;
    width: 100%;
}



/* debug */

.debug .page-header_nav {
    background-color: blueviolet;
}

.debug .container {
    background-color: aqua;
    min-height: 50px;
}

.debug .row {
    background-color: cadetblue;
    min-height: 50px;
}
